/*
* @Author: yongqing
* @Date:   2017-09-18 17:18:01
* @Last Modified by:   yongqing
* @Last Modified time: 2017-09-18 19:51:16
*/

.etc-toast {
    background-color: #4c4c4c;
    width: 7rem;
    padding: 0.53125rem;
    border-radius: 4px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -3.5rem;
    margin-top: -6.25rem;
    overflow: hidden;
    z-index: 2000;
    .title {
        color: #fff;
    }
    .icon {
        width: 2.5rem;
        height: 2.5rem;
        border: 4px solid gray;
        border-radius: 50%;
        margin: 0.625rem auto;
        padding: 0;
        position: relative;
        box-sizing: content-box;
        &.success {
            border-color: #fff;
            &:before,
            &:after {
                content: '';
                border-radius: 50%;
                position: absolute;
                width: 1.875rem;
                height: 3.75rem;
                background: #4c4c4c;
                transform: rotate(45deg);
            }
            &:before {
                border-radius: 10rem 0 0 10rem;
                top: -0.5rem;
                left: -1rem;
                transform: rotate(-45deg);
                transform-origin: 1.875rem 1.875rem;
            }
            &:after {
                border-radius: 0 10rem 10rem 0;
                top: -0.34375rem;
                left: 0.9375rem;
                transform: rotate(-45deg);
                transform-origin: 0px 1.875rem;
            }
            .placeholder {
                width: 2.5rem;
                height: 2.5rem;
                border: 4px solid rgba(255, 255, 255, .2);
                border-radius: 50%;
                box-sizing: content-box;
                position: absolute;
                left: -0.125rem;
                top: -0.125rem;
                z-index: 2;
            }
            .fix {
                width: 0.15625rem;
                height: 2.8125rem;
                background-color: #4c4c4c;
                position: absolute;
                left: 0.875rem;
                top: 0.25rem;
                z-index: 1;
                transform: rotate(-45deg);
            }
            .line {
                height: 0.15625rem;
                background-color: #fff;
                display: block;
                border-radius: 2px;
                position: absolute;
                z-index: 2;
                &.tip {
                    width: 0.78125rem;
                    left: 0.4375rem;
                    top: 1.4375rem;
                    transform: rotate(45deg);
                }
                &.long {
                    width: 1.46875rem;
                    right: 0.25rem;
                    top: 1.1875rem;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}


/*
* Animations
*/

@keyframes showAlert {
    0% {
        transform: scale(0.7);
    }
    45% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes hideAlert {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}

.showAlert {
    animation: showAlert 0.3s;
}

.hideAlert {
    animation: hideAlert 0.2s;
}

@keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 0.03125rem;
        top: 0.59375rem;
    }
    54% {
        width: 0;
        left: 0.03125rem;
        top: 0.59375rem;
    }
    70% {
        width: 1.5625rem;
        left: -0.25rem;
        top: 1.15625rem;
    }
    84% {
        width: 0.53125rem;
        left: 0.65625rem;
        top: 1.5rem;
    }
    100% {
        width: 0.78125rem;
        left: 0.4375rem;
        top: 1.40625rem;
    }
}

@keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 1.4375rem;
        top: 1.6875rem;
    }
    65% {
        width: 0;
        right: 1.4375rem;
        top: 1.6875rem;
    }
    84% {
        width: 1.71875rem;
        right: 0px;
        top: 1.09375rem;
    }
    100% {
        width: 1.46875rem;
        right: 0.25rem;
        top: 1.1875rem;
    }
}

@keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

.animateSuccessTip {
    animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
    animation: animateSuccessLong 0.75s;
}

animate::after {
    animation: rotatePlaceholder 4.25s ease-in;
}