/*
* @Author: yongqing
* @Date:   2017-09-18 17:18:01
* @Last Modified by:   yongqing
* @Last Modified time: 2017-10-10 12:23:22
*/

.etc-indicator {
    background-color: $toast-bg-color;
    border-radius: 5px;
    position: fixed;
    text-align: center;
    padding: .6rem;
    @include center();
    overflow: hidden;
    z-index: $base-index*2;
    .title {
        color: white;
        margin-top: .3rem;
        @include text-overflow();
    }
    &-mask {
        @include mask(rgba(0, 0, 0, .0), 1 * $base-index);
    }
    .circle {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border: 1px solid $spinner-bg-color;
        border-bottom-color: transparent;
        margin: 0 auto;
    }
    .circle-rotate {
        -webkit-animation: circleRotate 0.6s linear infinite;
        animation: circleRotate 0.6s linear infinite;
    }
    @-webkit-keyframes circleRotate {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes circleRotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}