/*
* @Author: yongqing
* @Date:   2017-09-18 17:18:01
* @Last Modified by:   yongqing
* @Last Modified time: 2018-01-29 15:24:41
*/

.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15rem;
   fill: currentColor;
   overflow: hidden;
}