/*
* @Author: yongqing
* @Date:   2017-09-18 17:18:01
* @Last Modified by:   yongqing
* @Last Modified time: 2017-09-25 11:29:32
*/

%ts {
    position: relative;
    float: left;
    text-align: center;
}
%mt{
    margin-top: .8rem;
}
.#{$css-prefix} {
    &-grid-item-block {
        position: relative;
        padding: 0.55rem 0.87rem 0 0.87rem;
    }
    &-grids-group-title {
        position: relative;
        @include sc(0.7rem, $black-color);
         padding-bottom: .5rem;
         &:after {
             @include bottom-line($line-color);
         }
    }
    &-grid-box {
        position: relative;
        padding: .8rem 0 1rem 0rem;
        @include clear();
      
    }
    &-grid-border-2{
        &:not(:nth-child(2n)):before {
            @include right-line($line-color);
        }
    }
    &-grid-border-3{
        &:not(:nth-child(3n)):before {
            @include right-line($line-color);
        }
    }
    &-grid-border-4{
        &:not(:nth-child(4n)):before {
            @include right-line($line-color);
        }
    }
    &-grid-border-5{
        &:not(:nth-child(5n)):before {
            @include right-line($line-color);
        }
    }
    &-grid-2 {
        @extend %ts;
        width: 50%;
        &:nth-child(n+3) {
            @extend %mt;
        }
    }
    &-grid-3 {
        @extend %ts;
        width: 33.3333333%;
        &:nth-child(n+4) {
            @extend %mt;
        }
    }
    &-grid-4 {
        @extend %ts;
        width: 25%;
        &:nth-child(n+5) {
            @extend %mt;
        }
    }
    &-grid-5 {
        @extend %ts;
        width: 20%;
        &:nth-child(n+6) {
            @extend %mt;
        }
    }
    &-grid-icon {
        .icon {
            width: 1.1rem;
            height: 1.1rem;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.55rem;
        }
    }
    &-grid-text {
        @include sc(0.65rem, $defult-color);
        span{
            display: block;
            @include text-overflow();
        }
    }
}