/*
* @Author: yongqing
* @Date:   2017-09-18 16:38:02
* @Last Modified by:   yongqing
* @Last Modified time: 2017-09-18 18:05:05
*/

@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

//定位全屏
@mixin allcover {
    position: absolute;
    top: 0;
    right: 0;
}

//定位上下左右居中
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//定位上下居中
@mixin ct {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

//定位水平居中
@mixin cl {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

//宽高
@mixin wh($width, $height) {
    width: $width;
    height: $height;
}

//字体大小，颜色
@mixin sc($size, $color) {
    font-size: $size;
    color: $color;
}

//flex 布局和 子元素 对其方式
@mixin fj($type: space-between) {
    display: flex;
    justify-content: $type;
}

@mixin clear() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// 按下去背景颜色
// -----------------------------------------------------------------------------
@mixin tap-color($color, $opacity: .9) {
    background-color: $color;
    &:active {
        background-color: $color * $opacity;
    }
}

// 遮罩层
// -----------------------------------------------------------------------------
@mixin mask($bgcolor: rgba(0, 0, 0, .4), $z-index: $base-zindex * 1500) {
    background-color: $bgcolor;
    position: fixed;
    z-index: $z-index;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

// 多行文本溢出显示省略号
// -----------------------------------------------------------------------------
@mixin line-clamp($line: 2, $line-height: .38rem) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    word-break: break-all;
    text-overflow: ellipsis;
    line-height: $line-height;
    max-height: $line-height * $line + .2rem;
}

// 单行文本溢出显示省略号
// -----------------------------------------------------------------------------
@mixin text-overflow($align: center) {
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: $align;
}

// 三角形箭头
// -----------------------------------------------------------------------------
// $deg:  45deg - right
//       135deg - down
//       -45deg - up
//      -135deg - left
// ------------------------------------------------------------------------
@mixin arrow($color: #DDD, $width: .2rem, $border-width: 2px, $deg: 45deg) {
    content: '';
    display: inline-block;
    width: $width;
    height: $width;
    border-style: solid;
    border-color: $color;
    border-width: $border-width $border-width 0 0;
    -webkit-transform: rotate($deg);
    transform: rotate($deg);
}

// 一像素边框
// -----------------------------------------------------------------------------
@mixin top-line($color, $zindex: 0) {
    content: '';
    position: absolute;
    z-index: $zindex;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid $color;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

@mixin bottom-line($color, $zindex: 0) {
    content: '';
    position: absolute;
    z-index: $zindex;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $color;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

@mixin left-line($color, $zindex: 0) {
    content: '';
    position: absolute;
    z-index: $zindex;
    top: 0;
    left: 0;
    height: 100%;
    border-left: 1px solid $color;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

@mixin right-line($color, $zindex: 0) {
    content: '';
    position: absolute;
    z-index: $zindex;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 1px solid $color;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

@mixin icon($color:#333, $width:1rem, $height:1rem) {
    width: $width;
    height: $height;
    fill: $color;
    overflow: hidden;
}