/*
* @Author: yongqing
* @Date:   2017-09-18 17:18:01
* @Last Modified by:   yongqing
* @Last Modified time: 2018-01-18 11:30:53
*/

.etc-button {
    display: block;
    height: 2.45rem;
    border-radius: 0.2rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 0.8rem;
    &.btn-default {
        border: 1px solid $btn-primary-bg;
        color: $btn-defult-color;
        background: none; 
        @include tap-color($white-color)
    }
    &.btn-primary {
        color: $btn-primary-color;
        @include tap-color($btn-primary-bg)
    }
    &.btn-danger {
        color: $white-color;
        @include tap-color($btn-danger-bg)
    }
    &.btn-disable {
        background: $btn-disable-bg;
        color: $white-color;
    }
    &.size-medium {
        border-radius: 0.2rem;
        text-align: center;
        height: 2rem;
    }
    &.size-small {
        height: 1.5rem;
        border-radius: 0.2rem;
        text-align: center;
        width: 3rem;
        font-size: 0.65rem;
    }
    &.circle-shape{
        border-radius:1.225rem;
    }
}